
<div class="wrapper">
 
  
    <tabset >
        <tab title="Login">
            <div class="container">
                <div class="wrapper">
                  <form class="form-signin">
                    <h2 class="form-signin-heading">Please login</h2>
              
                    <div class="radio">
                      <label class="custom-control custom-radio">
                        <input type="radio" checked name="optradio">Employee
                      </label>
                      <label class="custom-control custom-radio">
                        <input type="radio" name="optradio">Store
                      </label>
                    </div>
              
                    <input type="text" class="form-control" name="username" placeholder="Email Address or Emp Id" required="" autofocus="" />
                    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                    <label class="checkbox">
                      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                    </label>
              
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
              
              
                  </form>
              
                </div>
              </div>
        </tab>
        <tab title="New Registration">
            <div class="container">
                <div class="wrapper">
                  <form class="form-signin">
                    <h2 class="form-signin-heading">New Registration</h2>
              
                    <div class="radio">
                      <label class="custom-control custom-radio">
                        <input type="radio" checked name="optradio">Employee
                      </label>
                      <label class="custom-control custom-radio">
                        <input type="radio" name="optradio">Store
                      </label>
                    </div>
              
                    <input type="text" class="form-control" name="name" placeholder="Name" required="" autofocus="" />
                    <input type="text" class="form-control" name="empid" placeholder="Employee Id" required="" autofocus="" />
                    <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
                    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                    <input type="text" class="form-control" name="conpassword" placeholder="Confirm Password" required="" autofocus="" />
              
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:20px " >Submit</button>
              
              
                  </form>
              
                </div>
              </div>
        </tab>
      
    </tabset>
    
</div>






